<div class="container">
    <mat-card>
      <mat-form-field appearance="fill">
        <mat-label>Select user name</mat-label>
        <mat-select name="userId" [(ngModel)]="userId">
          <mat-option selected value="null">N/A</mat-option>
          <mat-option [value]="user.id" *ngFor="let user of (users | async)">{{ user.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Enter the name of the task</mat-label>
        <input matInput required name="task" type="text" [(ngModel)]="taskText">
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!taskText" (click)="addTask()">Send
        <mat-icon>send</mat-icon>
      </button>
    </mat-card>
</div>
