.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

mat-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

a{
  text-decoration: none;
  color: white;
  margin: 0 15px;
}
