<div class="container">
  <mat-progress-spinner
    *ngIf="loading | async else tasksItems"
    mode="indeterminate">
  </mat-progress-spinner>
  <ng-template #tasksItems>
    <mat-card *ngFor="let task of (tasks | async)">
      <p>Task:</p>
      <p class="title">{{ task.title }}</p>
      <mat-form-field appearance="fill">
        <mat-select  (valueChange)="editUser($event, task.id, task.status)">
          <mat-option selected value="null">N/A</mat-option>
          <mat-option [value]="user.id" *ngFor="let user of (users | async)">{{ user.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-select value="{{ task.status }}" (valueChange)="editStatus($event, task.id)">
          <mat-option value="new">New</mat-option>
          <mat-option value="in_progress">In progress</mat-option>
          <mat-option value="done">Done</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-fab color="primary" (click)="removeTask(task.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card>
  </ng-template>
  <mat-progress-spinner
    *ngIf="removeLoading | async"
    mode="indeterminate">
  </mat-progress-spinner>
  <mat-progress-spinner
    *ngIf="changeLoading | async"
    mode="indeterminate">
  </mat-progress-spinner>
</div>

