mat-card
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-evenly
  max-width: 800px
  margin: 0 auto 10px

mat-form-field
  margin: 0 10px 0 0

p
  font-size: 18px
  margin: 0 10px 0 0
  flex-grow: 1

p.title
  color: darkorange

